<h1><%=h @garden.name %></h1>

<p>
  <b>Location:</b>
  <%=h @garden.city %>,
  <%=h @garden.state %>
</p>

<p>
  <b>Public?:</b>
  <%=h @garden.is_public %>
</p>

<!--
<p>
  <b>Info:</b>
  <%=h @garden.info %>
</p>
-->

<b>Photos:</b>

<% @photos.each_with_index do |photo, i| %>
  <p>
    <%=h photo.title %><br />
    <%= image_tag "#{@aws}#{@hash[i]}.jpg" %>
  </p>
<% end %>

<b>Plots:</b>

<% @plots.each do |plot| %>
  <p>
    <h2><%=h plot.name %></h2><br />
    <% plot.plants.each do |plant| %>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;<%=h plant.name %></h3><br />
	  
	  <% plant.journals.each do |journal| %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em><%=h journal.created_at.getlocal.strftime("%b %d, %Y %I:%M %p") %></em> <%=h journal.body %><br />
      <% end %>
    <% end %>
  </p>
<% end %>

<br />
<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', root_path %>