<h2><%=h @garden.name %></h2>

<p>
  <b>Location:</b>
  <%=h @garden.city %>,
  <%=h @garden.state %>
</p>

<p>
  <b>Public?:</b>
  <%=h @garden.is_public %>
</p>

<!--
<p>
  <b>Info:</b>
  <%=h @garden.info %>
</p>
-->

<b>Photos:</b>

<% @photos.each_with_index do |photo, i| %>
  <p>
    <%=h photo.title %><br />
    <%= image_tag "#{@aws}#{@hash[i]}.jpg" %>
  </p>
<% end %>

<b>Plots:</b>

<% @plots.each do |plot| %>
  <p>
    <%=h plot.name %><br />
    <% plot.plants.each do |plant| %>
      <%=h plant.name %><br />
	  
	  <% plant.journals.each do |journal| %>
        <strong><%=h journal.created_at %></strong> <%=h journal.body %><br />
      <% end %>
    <% end %>
  </p>
<% end %>

<br />
<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', root_path %>