<p>
  <b>Name:</b>
  <%=h @garden.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @garden.city %>,
  <%=h @garden.state %>
</p>

<p>
  <b>Public?:</b>
  <%=h @garden.is_public %>
</p>

<p>
  <b>Info:</b>
  <%=h @garden.info %>
</p>

<b>Photos:</b>

<% @photos.each_with_index do |photo, i| %>
  <p>
    <%=h photo.title %><br />
    <%= image_tag "#{@aws}#{@photo_urls[i]}.jpg" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>